<% layout('layouts/boilerplate.ejs')%>

<h2>user languages learning list</h2>

<h2>user native language (and website language)</h2>

<h2>user tasks link</h2>
<h2>user vocab to learn list (from chrome extension)</h2>


    <ul> stats
<li>total tasks completed</li>
<li>days since registration</li>

    </ul>
    
